.container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: rgb(3, 36, 36) solid 3px;
}
.innerContainerLeft {
  margin-left: 50px;
}
.innerContainerRight {
  margin-right: 50px;
}
.secondText,
.firstText {
  color: rgb(3, 36, 36);
}
.firstText {
  margin-right: 20px;
}
.active {
  color: rgb(190, 220, 20);
}
